:host {
  flex-grow: 1;
  max-height: 100%;

  mat-icon {
    font-size: 36px;
  }

  .container {
      display: flex;
      flex-direction: column;
      height: calc(100% - 64px);
      overflow: scroll;

      .install {
        background-color: #fec10d;
        display: flex;
        justify-content: center;
        cursor: pointer;

        span {
          text-decoration: underline;
        }
      }

      form {
          padding: 15px;
      }

      form > * {
          width: 100%;

          .hidden {
              display: none;
          }
      }

      a {
        text-align: center;
        color: #fec10d;

        &.link {
          text-align: left;
          display: block;
        }

        img {
          max-width: 100%;
          padding: 0 10%;
        }
      }
  }
}
